// Code generated by Fern. DO NOT EDIT.

package paymentplans

import (
	context "context"
	payroc "github.com/payroc/payroc-sdk-go"
	core "github.com/payroc/payroc-sdk-go/core"
	internal "github.com/payroc/payroc-sdk-go/internal"
	option "github.com/payroc/payroc-sdk-go/option"
	repeatpayments "github.com/payroc/payroc-sdk-go/repeatpayments"
)

type Client struct {
	WithRawResponse *RawClient

	options *core.RequestOptions
	baseURL string
	caller  *internal.Caller
}

func NewClient(options *core.RequestOptions) *Client {
	return &Client{
		WithRawResponse: NewRawClient(options),
		options:         options,
		baseURL:         options.BaseURL,
		caller: internal.NewCaller(
			&internal.CallerParams{
				Client:      options.HTTPClient,
				MaxAttempts: options.MaxAttempts,
			},
		),
	}
}

// Use this method to return a [paginated](https://docs.payroc.com/api/pagination) list of payment plans for a processing terminal.
//
// **Note:** If you want to view the details of a specific payment plan and you have its paymentPlanId, use our [Retrieve Payment Plan](https://docs.payroc.com/api/schema/repeat-payments/payment-plans/retrieve) method.
//
// Our gateway returns the following information about each payment plan in the list:
//
//   - Name, length, and currency of the plan
//   - How often our gateway collects each payment
//   - How much our gateway collects for each payment
//   - What happens if the merchant updates or deletes the plan
//
// For each payment plan, we return the paymentPlanId, which you can use to perform follow-on actions.
func (c *Client) List(
	ctx context.Context,
	request *repeatpayments.ListPaymentPlansRequest,
	opts ...option.RequestOption,
) (*core.PayrocPager[*payroc.PaymentPlanPaginatedList, []*payroc.PaymentPlan, *payroc.Link], error) {
	options := core.NewRequestOptions(opts...)
	baseURL := internal.ResolveBaseURL(
		options.BaseURL,
		internal.ResolveEnvironmentBaseURL(
			options.Environment,
			"Api",
		),
		c.baseURL,
		internal.ResolveEnvironmentBaseURL(
			c.options.Environment,
			"Api",
		),
		"https://api.payroc.com/v1",
	)
	endpointURL := internal.EncodeURL(
		baseURL+"/processing-terminals/%v/payment-plans",
		request.ProcessingTerminalId,
	)
	queryParams, err := internal.QueryValues(request)
	if err != nil {
		return nil, err
	}
	if len(queryParams) > 0 {
		endpointURL += "?" + queryParams.Encode()
	}
	response, callErr := c.WithRawResponse.List(
		ctx,
		request,
		opts...,
	)
	if callErr != nil {
		return nil, callErr
	}
	var responseBody *payroc.PaymentPlanPaginatedList = response.Body
	fetcher := func(
		ctx context.Context,
		href string,
	) (*payroc.PaymentPlanPaginatedList, error) {
		options := core.NewRequestOptions(opts...)
		headers := internal.MergeHeaders(
			c.options.ToHeader(),
			options.ToHeader(),
		)
		var pageResponse *payroc.PaymentPlanPaginatedList
		_, err := c.caller.Call(ctx, &internal.CallParams{
			URL:             href,
			Method:          "GET",
			Headers:         headers,
			MaxAttempts:     options.MaxAttempts,
			BodyProperties:  options.BodyProperties,
			QueryParameters: options.QueryParameters,
			Client:          options.HTTPClient,
			Response:        &pageResponse,
			ErrorDecoder:    internal.NewErrorDecoder(repeatpayments.ErrorCodes),
		})
		if err != nil {
			return nil, err
		}
		return pageResponse, nil
	}
	pager := core.NewPayrocPager(responseBody, fetcher)
	return pager, nil
}

// Use this method to create a payment schedule that you can assign customers to.
//
// **Note:** This method is part of our Repeat Payments feature. To help you understand how this method works with our Subscriptions endpoints, go to [Repeat Payments](https://docs.payroc.com/guides/take-payments/repeat-payments).
//
// When you create a payment plan you need to provide a unique paymentPlanId that you use to run follow-on actions:
//
// -	[Retrieve Payment Plan](https://docs.payroc.com/api/schema/repeat-payments/payment-plans/retrieve)  - View the details of the payment plan.
// -	[Update Payment Plan](https://docs.payroc.com/api/schema/repeat-payments/payment-plans/partially-update)  - Update the details of the payment plan.
// -	[Delete Payment Plan](https://docs.payroc.com/api/schema/repeat-payments/payment-plans/delete)  - Delete the payment plan.
// -	[Create Subscription](https://docs.payroc.com/api/schema/repeat-payments/subscriptions/create)  - Subscribe a customer to the payment plan.
//
// The request includes the following settings:
//
// -	**type** - Indicates if our gateway or the merchant collects payments. If the merchant manually collects payments, integrate with the [Pay Manual Subscription](https://docs.payroc.com/api/schema/repeat-payments/subscriptions/pay) method.
// -	**recurringOrder** - Amount of each payment if the gateway automatically collect payments.
// -	**setupOrder** - Setup fee that our gateway immediately collects from the customer's payment method.
// -	**onUpdate and onDelete** - Indicates what happens to associated subscriptions if the merchant updates or deletes the payment plan.
func (c *Client) Create(
	ctx context.Context,
	request *repeatpayments.CreatePaymentPlansRequest,
	opts ...option.RequestOption,
) (*payroc.PaymentPlan, error) {
	response, err := c.WithRawResponse.Create(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Use this method to retrieve information about a payment plan.
//
// To retrieve a payment plan, you need its paymentPlanId. Our gateway returned the paymentPlanId in the response of the [Create Payment Plan](https://docs.payroc.com/api/schema/repeat-payments/payment-plans/create) method.
//
// **Note:** If you don't have the paymentPlanId, use our [List Payment Plans](https://docs.payroc.com/api/schema/repeat-payments/payment-plans/list) method to search for the payment plan.
//
// Our gateway returns the following information about the payment plan:
//
//   - Name, length, and currency of the plan
//   - How often our gateway collects each payment
//   - How much our gateway collects for each payment
//   - What happens if the merchant updates or deletes the plan
func (c *Client) Retrieve(
	ctx context.Context,
	request *repeatpayments.RetrievePaymentPlansRequest,
	opts ...option.RequestOption,
) (*payroc.PaymentPlan, error) {
	response, err := c.WithRawResponse.Retrieve(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Use this method to delete a payment plan.
//
// > **Important:** When you delete a payment plan, you can’t recover it. You also won’t be able to add subscriptions to the payment plan.
//
// To delete a payment plan, you need its paymentPlanId, which you sent in the request of the [Create Payment Plan](https://docs.payroc.com/api/schema/repeat-payments/payment-plans/create) method.
//
// **Note:** If you don't have the paymentPlanId, use our [List Payment Plans](https://docs.payroc.com/api/schema/repeat-payments/payment-plans/list) method to search for the payment plan.
//
// The value you sent for the onDelete parameter when you created the payment plan indicates what happens to associated subscriptions when you delete the plan:
//
//   - `complete` - Our gateway stops taking payments for the subscriptions associated with the payment plan.
//   - `continue` - Our gateway continues to take payments for the subscriptions associated with the payment plan. To stop a subscription for a cancelled payment plan, go to the [Deactivate Subscription](https://docs.payroc.com/api/schema/repeat-payments/subscriptions/deactivate) method.
func (c *Client) Delete(
	ctx context.Context,
	request *repeatpayments.DeletePaymentPlansRequest,
	opts ...option.RequestOption,
) error {
	_, err := c.WithRawResponse.Delete(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return err
	}
	return nil
}

// Use this method to partially update a payment plan. Structure your request to follow the [RFC 6902](https://datatracker.ietf.org/doc/html/rfc6902) standard.
//
// To update a payment plan, you need its paymentPlanId, which you sent in the request of the [Create Payment Plan](https://docs.payroc.com/api/schema/repeat-payments/payment-plans/create) method.
//
// **Note:** If you don't have the paymentPlanId, use our [List Payment Plans](https://docs.payroc.com/api/schema/repeat-payments/payment-plans/list) method to search for the payment plan.
//
// You can update all of the properties of the payment plan except for the paymentPlanId.
//
// The value you sent for the onUpdate parameter when you created the payment plan indicates what happens to the associated subscriptions when you update the plan:
// - `update` - Our gateway updates the subscriptions associated with the payment plan.
// - `continue` - Our  gateway doesn't update the subscriptions associated with the payment plan.
func (c *Client) PartiallyUpdate(
	ctx context.Context,
	request *repeatpayments.PartiallyUpdatePaymentPlansRequest,
	opts ...option.RequestOption,
) (*payroc.PaymentPlan, error) {
	response, err := c.WithRawResponse.PartiallyUpdate(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}
