// Code generated by Fern. DO NOT EDIT.

package client

import (
	context "context"
	payroc "github.com/payroc/payroc-sdk-go"
	core "github.com/payroc/payroc-sdk-go/core"
	internal "github.com/payroc/payroc-sdk-go/internal"
	option "github.com/payroc/payroc-sdk-go/option"
	sharingevents "github.com/payroc/payroc-sdk-go/paymentlinks/sharingevents"
)

type Client struct {
	WithRawResponse *RawClient
	SharingEvents   *sharingevents.Client

	options *core.RequestOptions
	baseURL string
	caller  *internal.Caller
}

func NewClient(options *core.RequestOptions) *Client {
	return &Client{
		SharingEvents:   sharingevents.NewClient(options),
		WithRawResponse: NewRawClient(options),
		options:         options,
		baseURL:         options.BaseURL,
		caller: internal.NewCaller(
			&internal.CallerParams{
				Client:      options.HTTPClient,
				MaxAttempts: options.MaxAttempts,
			},
		),
	}
}

// Use this method to return a [paginated](https://docs.payroc.com/api/pagination) list of payment links linked to a processing terminal.
//
// **Note:** If you want to view the details of a specific payment link and you have its paymentLinkId, use our [Retrieve Payment Link](https://docs.payroc.com/api/schema/payment-links/retrieve) method.
//
// Use query parameters to filter the list of results that we return, for example, to search for only active links or multi-use links.
//
// Our gateway returns the following information about each payment link in the list:
// - **type** - Indicates whether the link can be used only once or if it can be used multiple times.
// - **authType** - Indicates whether the transaction is a sale or a pre-authorization.
// - **paymentMethods** - Indicates the payment method that the merchant accepts.
// - **charge** - Indicates whether the merchant or the customer enters the amount for the transaction.
// - **status** - Indicates if the payment link is active.
//
// For each payment link, we also return a paymentLinkId, which you can use for follow-on actions.
func (c *Client) List(
	ctx context.Context,
	request *payroc.ListPaymentLinksRequest,
	opts ...option.RequestOption,
) (*core.PayrocPager[*payroc.PaymentLinkPaginatedList, []*payroc.PaymentLinkPaginatedListDataItem, *payroc.Link], error) {
	options := core.NewRequestOptions(opts...)
	baseURL := internal.ResolveBaseURL(
		options.BaseURL,
		internal.ResolveEnvironmentBaseURL(
			options.Environment,
			"Api",
		),
		c.baseURL,
		internal.ResolveEnvironmentBaseURL(
			c.options.Environment,
			"Api",
		),
		"https://api.payroc.com/v1",
	)
	endpointURL := internal.EncodeURL(
		baseURL+"/processing-terminals/%v/payment-links",
		request.ProcessingTerminalId,
	)
	queryParams, err := internal.QueryValues(request)
	if err != nil {
		return nil, err
	}
	if len(queryParams) > 0 {
		endpointURL += "?" + queryParams.Encode()
	}
	response, callErr := c.WithRawResponse.List(
		ctx,
		request,
		opts...,
	)
	if callErr != nil {
		return nil, callErr
	}
	var responseBody *payroc.PaymentLinkPaginatedList = response.Body
	fetcher := func(
		ctx context.Context,
		href string,
	) (*payroc.PaymentLinkPaginatedList, error) {
		options := core.NewRequestOptions(opts...)
		headers := internal.MergeHeaders(
			c.options.ToHeader(),
			options.ToHeader(),
		)
		var pageResponse *payroc.PaymentLinkPaginatedList
		_, err := c.caller.Call(ctx, &internal.CallParams{
			URL:             href,
			Method:          "GET",
			Headers:         headers,
			MaxAttempts:     options.MaxAttempts,
			BodyProperties:  options.BodyProperties,
			QueryParameters: options.QueryParameters,
			Client:          options.HTTPClient,
			Response:        &pageResponse,
			ErrorDecoder:    internal.NewErrorDecoder(payroc.ErrorCodes),
		})
		if err != nil {
			return nil, err
		}
		return pageResponse, nil
	}
	pager := core.NewPayrocPager(responseBody, fetcher)
	return pager, nil
}

// Use this method to create a payment link that a customer can use to make a payment for goods or services.
//
// The request includes the following settings:
// - **type** - Indicates whether the link can be used only once or if it can be used multiple times.
// - **authType** - Indicates whether the transaction is a sale or a pre-authorization.
// - **paymentMethod** - Indicates the payment methods that the merchant accepts.
// - **charge** - Indicates whether the merchant or the customer enters the amount for the transaction.
//
// If your request is successful, our gateway returns a paymentLinkId, which you can use to perform follow-on actions.
//
// **Note:** To share the payment link with a customer, use our [Share Payment Link](https://docs.payroc.com/api/schema/payment-links/sharing-events/share) method.
func (c *Client) Create(
	ctx context.Context,
	request *payroc.CreatePaymentLinksRequest,
	opts ...option.RequestOption,
) (*payroc.CreatePaymentLinksResponse, error) {
	response, err := c.WithRawResponse.Create(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Use this method to retrieve information about a payment link.
//
// To retrieve a payment link, you need its paymentLinkId. Our gateway returned the paymentLinkId in the response of the [Create Payment Link](https://docs.payroc.com/api/schema/payment-links/create) method.
//
// **Note:** If you don't have the paymentLinkId, use our [List Payment Links](https://docs.payroc.com/api/schema/payment-links/list) method to search for the payment link.
//
// Our gateway returns the following information about the payment link:
// - **type** - Indicates whether the link can be used only once or if it can be used multiple times.
// - **authType** - Indicates whether the transaction is a sale or a pre-authorization.
// - **paymentMethods** - Indicates the payment method that the merchant accepts.
// - **charge** - Indicates whether the merchant or the customer enters the amount for the transaction.
// - **status** - Indicates if the payment link is active.
func (c *Client) Retrieve(
	ctx context.Context,
	request *payroc.RetrievePaymentLinksRequest,
	opts ...option.RequestOption,
) (*payroc.RetrievePaymentLinksResponse, error) {
	response, err := c.WithRawResponse.Retrieve(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Use this method to partially update a payment link. Structure your request to follow the [RFC 6902](https://datatracker.ietf.org/doc/html/rfc6902) standard.
//
// To update a payment link, you need its paymentLinkId, which we sent you in the response of the [Create Payment Link](https://docs.payroc.com/api/schema/payment-links/create) method.
//
// **Note:** If you don't have the paymentLinkId, use our [List Payment Links](https://docs.payroc.com/api/schema/payment-links/list) method to search for the payment link.
//
// You can update the following properties of a multi-use link:
// - **expiresOn parameter** - Expiration date of the link.
// - **customLabels object** - Label for the payment button.
// - **credentialOnFile object** - Settings for saving the customer's payment details.
//
// You can update the following properties of a single-use link:
// - **expiresOn parameter** - Expiration date of the link.
// - **authType parameter** - Transaction type of the payment link.
// - **amount parameter** - Total amount of the transaction.
// - **currency parameter** - Currency of the transaction.
// - **description parameter** - Brief description of the transaction.
// - **customLabels object** - Label for the payment button.
// - **credentialOnFile object** - Settings for saving the customer's payment details.
//
// **Note:** When a merchant updates a single-use link, we update the payment URL and HTML code in the assets object. The customer can't use the original link to make a payment.
func (c *Client) PartiallyUpdate(
	ctx context.Context,
	request *payroc.PartiallyUpdatePaymentLinksRequest,
	opts ...option.RequestOption,
) (*payroc.PartiallyUpdatePaymentLinksResponse, error) {
	response, err := c.WithRawResponse.PartiallyUpdate(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Use this method to deactivate a payment link.
//
// To deactivate a payment link, you need its paymentLinkId. Our gateway returned the paymentLinkId in the response of the [Create Payment Link](https://docs.payroc.com/api/schema/payment-links/create) method.
//
// **Note:** If you don't have the paymentLinkId, use our [List Payment Links](https://docs.payroc.com/api/schema/payment-links/list) method to search for the payment link.
//
// If your request is successful, our gateway deactivates the payment link. The customer can't use the link to make a payment, and you can't reactivate the payment link.
func (c *Client) Deactivate(
	ctx context.Context,
	request *payroc.DeactivatePaymentLinksRequest,
	opts ...option.RequestOption,
) (*payroc.DeactivatePaymentLinksResponse, error) {
	response, err := c.WithRawResponse.Deactivate(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}
