// Code generated by Fern. DO NOT EDIT.

package subscriptions

import (
	context "context"
	payroc "github.com/payroc/payroc-sdk-go"
	core "github.com/payroc/payroc-sdk-go/core"
	internal "github.com/payroc/payroc-sdk-go/internal"
	option "github.com/payroc/payroc-sdk-go/option"
	repeatpayments "github.com/payroc/payroc-sdk-go/repeatpayments"
)

type Client struct {
	WithRawResponse *RawClient

	options *core.RequestOptions
	baseURL string
	caller  *internal.Caller
}

func NewClient(options *core.RequestOptions) *Client {
	return &Client{
		WithRawResponse: NewRawClient(options),
		options:         options,
		baseURL:         options.BaseURL,
		caller: internal.NewCaller(
			&internal.CallerParams{
				Client:      options.HTTPClient,
				MaxAttempts: options.MaxAttempts,
			},
		),
	}
}

// Use this method to return a [paginated](https://docs.payroc.com/api/pagination) list of subscriptions.
//
// Note: If you want to view the details of a specific subscription and you have its subscriptionId, use our [Retrieve subscription](https://docs.payroc.com/api/schema/repeat-payments/subscriptions/retrieve) method.
//
// Use query parameters to filter the list of results that we return, for example, to search for subscriptions for a customer, a payment plan, or frequency.
//
// Our gateway returns information about the following for each subscription in the list:
//
// -	Payment plan the subscription is linked to.
// -	Secure token that represents cardholder’s payment details.
// -	Current state of the subscription, including its status, next due date, and invoices.
// -	Fees for setup and the cost of the recurring order.
// -	Subscription length, end date, and frequency.
//
// For each subscription, we also return the subscriptionId, the paymentPlanId, and the secureTokenId, which you can use to perform follow-actions.
func (c *Client) List(
	ctx context.Context,
	request *repeatpayments.ListSubscriptionsRequest,
	opts ...option.RequestOption,
) (*core.PayrocPager[*payroc.SubscriptionPaginatedList, []*payroc.Subscription, *payroc.Link], error) {
	options := core.NewRequestOptions(opts...)
	baseURL := internal.ResolveBaseURL(
		options.BaseURL,
		internal.ResolveEnvironmentBaseURL(
			options.Environment,
			"Api",
		),
		c.baseURL,
		internal.ResolveEnvironmentBaseURL(
			c.options.Environment,
			"Api",
		),
		"https://api.payroc.com/v1",
	)
	endpointURL := internal.EncodeURL(
		baseURL+"/processing-terminals/%v/subscriptions",
		request.ProcessingTerminalId,
	)
	queryParams, err := internal.QueryValues(request)
	if err != nil {
		return nil, err
	}
	if len(queryParams) > 0 {
		endpointURL += "?" + queryParams.Encode()
	}
	response, callErr := c.WithRawResponse.List(
		ctx,
		request,
		opts...,
	)
	if callErr != nil {
		return nil, callErr
	}
	var responseBody *payroc.SubscriptionPaginatedList = response.Body
	fetcher := func(
		ctx context.Context,
		href string,
	) (*payroc.SubscriptionPaginatedList, error) {
		options := core.NewRequestOptions(opts...)
		headers := internal.MergeHeaders(
			c.options.ToHeader(),
			options.ToHeader(),
		)
		var pageResponse *payroc.SubscriptionPaginatedList
		_, err := c.caller.Call(ctx, &internal.CallParams{
			URL:             href,
			Method:          "GET",
			Headers:         headers,
			MaxAttempts:     options.MaxAttempts,
			BodyProperties:  options.BodyProperties,
			QueryParameters: options.QueryParameters,
			Client:          options.HTTPClient,
			Response:        &pageResponse,
			ErrorDecoder:    internal.NewErrorDecoder(payroc.ErrorCodes),
		})
		if err != nil {
			return nil, err
		}
		return pageResponse, nil
	}
	pager := core.NewPayrocPager(responseBody, fetcher)
	return pager, nil
}

// Use this method to assign a customer to a payment plan.
//
// **Note:** This method is part of our Repeat Payments feature. To help you understand how this method works with our Payment plans endpoints, go to [Repeat Payments](https://docs.payroc.com/guides/integrate/repeat-payments).
//
// When you create a subscription you need to provide a unique subscriptionId that you use to run follow-on actions:
//
// - [Retrieve Subscription](https://docs.payroc.com/api/schema/repeat-payments/subscriptions/retrieve) - View the details of the subscription.
// - [Update Subscription](https://docs.payroc.com/api/schema/repeat-payments/subscriptions/partially-update) - Update the details of the subscription.
// - [Deactivate Subscription](https://docs.payroc.com/api/schema/repeat-payments/subscriptions/deactivate) - Stop taking payments for the subscription.
// - [Re-activate Subscription](https://docs.payroc.com/api/schema/payments/subscriptions/reactivate) - Start taking payments again for the subscription.
// - [Pay Manual Subscription](https://docs.payroc.com/api/schema/repeat-payments/subscriptions/pay) - Manually collect a payment for the subscription.
//
// The request includes the following settings:
// - **paymentPlanId** - Unique identifier of the payment plan that the merchant wants to use. If you don't have the paymentPlanId, use our [List Payment Plans](https://docs.payroc.com/api/schema/repeat-payments/payment-plans/list) method to search for the payment plan.
// - **paymentMethod** - Object that contains information about the secure token, which represents the customer's card details or bank account details.
// - **startDate** - Date that you want to start to take payments.
//
// You can also update the settings that the subscription inherited from the payment plan, for example, you can change the amount for each payment. If you change the settings for the subscription, it doesn't change the settings in the payment plan that it's linked to.
func (c *Client) Create(
	ctx context.Context,
	request *repeatpayments.SubscriptionRequest,
	opts ...option.RequestOption,
) (*payroc.Subscription, error) {
	response, err := c.WithRawResponse.Create(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Use this method to retrieve information about a subscription.
//
// To retrieve a subscription, you need its subscriptionId. You sent the subscriptionId in the request of the [Create subscription](https://docs.payroc.com/api/schema/repeat-payments/subscriptions/create) method.
//
// **Note:** If you don't have the subscriptionId, use our [List subscriptions](https://docs.payroc.com/api/schema/repeat-payments/subscriptions/list) method to search for the subscription.
//
// Our gateway returns information about the following for the subscription:
//
// -	Payment plan the subscription is linked to.
// -	Secure token that represents cardholder’s payment details.
// -	Current state of the subscription, including its status, next due date, and invoices.
// -	Fees for setup and the cost of the recurring order.
// -	Subscription length, end date, and frequency.
//
// We also return the paymentPlanId and the secureTokenId, which you can use to perform follow-on actions.
func (c *Client) Retrieve(
	ctx context.Context,
	request *repeatpayments.RetrieveSubscriptionsRequest,
	opts ...option.RequestOption,
) (*payroc.Subscription, error) {
	response, err := c.WithRawResponse.Retrieve(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Use this method to partially update a subscription. Structure your request to follow the [RFC 6902](https://datatracker.ietf.org/doc/html/rfc6902) standard.
//
// To update a subscription, you need its subscriptionId, which you sent in the request of the [Create subscription](https://docs.payroc.com/api/schema/repeat-payments/subscriptions/create) method.
//
// **Note:** If you don't have the subscriptionId, use our [List subscriptions](https://docs.payroc.com/api/schema/repeat-payments/subscriptions/list) method to search for the payment.
//
// You can update all of the properties of the subscription except for the following:
//
// **Can't delete**
// - recurringOrder
// - description
// - name
//
// **Can't perform any PATCH operation**
// - currentState
// - type
// - frequency
// - paymentPlan
func (c *Client) PartiallyUpdate(
	ctx context.Context,
	request *repeatpayments.PartiallyUpdateSubscriptionsRequest,
	opts ...option.RequestOption,
) (*payroc.Subscription, error) {
	response, err := c.WithRawResponse.PartiallyUpdate(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Use this method to deactivate a subscription.
//
// To deactivate a subscription, you need its subscriptionId, which you sent in the request of the [Create Subscription](https://docs.payroc.com/api/schema/repeat-payments/subscriptions/create) method.
//
// **Note:** If you don't have the subscriptionId, use our [List Subscriptions](https://docs.payroc.com/api/schema/repeat-payments/subscriptions/list) method to search for the subscription.
//
// If your request is successful, our gateway stops taking payments from the customer.
//
// To reactivate the subscription, use our [Reactivate Subscription](https://docs.payroc.com/api/schema/payments/subscriptions/reactivate) method.
func (c *Client) Deactivate(
	ctx context.Context,
	request *repeatpayments.DeactivateSubscriptionsRequest,
	opts ...option.RequestOption,
) (*payroc.Subscription, error) {
	response, err := c.WithRawResponse.Deactivate(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Use this method to reactivate a subscription.
//
// To reactivate a subscription, you need its subscriptionId, which you sent in the request of the [Create Subscription](https://docs.payroc.com/api/schema/repeat-payments/subscriptions/create) method.
//
// **Note:** If you don't have the subscriptionId, use our [List Subscriptions](https://docs.payroc.com/api/schema/repeat-payments/subscriptions/list) method to search for the subscription.
//
// If your request is successful, our gateway restarts taking payments from the customer.
//
// To deactivate the subscription, use our [Deactivate Subscription](https://docs.payroc.com/api/schema/repeat-payments/subscriptions/deactivate) method.
func (c *Client) Reactivate(
	ctx context.Context,
	request *repeatpayments.ReactivateSubscriptionsRequest,
	opts ...option.RequestOption,
) (*payroc.Subscription, error) {
	response, err := c.WithRawResponse.Reactivate(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Use this method to manually collect a payment linked to a subscription. You can manually collect a payment only if the merchant chose not to let our gateway automatically collect each payment.
//
// To manually collect a payment, you need the subscriptionId of the subscription that's linked to the payment. You sent the subscriptionId in the request of the [Create Subscription](https://docs.payroc.com/api/schema/repeat-payments/subscriptions/create) method.
//
// **Note:** If you don't have the subscriptionId, use our [List Subscriptions](https://docs.payroc.com/api/schema/repeat-payments/subscriptions/list) method to search for the subscription.
//
// The request includes an order object that contains information about the amount that you want to collect.
//
// In the response, our gateway returns information about the payment and a paymentId. You can use the paymentId in follow-on actions with the [Payments](https://docs.payroc.com/api/schema/card-payments/payments) endpoints or [Bank Transfer Payments](https://docs.payroc.com/api/schema/bank-transfer-payments/payments) endpoints.
func (c *Client) Pay(
	ctx context.Context,
	request *repeatpayments.SubscriptionPaymentRequest,
	opts ...option.RequestOption,
) (*payroc.SubscriptionPayment, error) {
	response, err := c.WithRawResponse.Pay(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}
