// Code generated by Fern. DO NOT EDIT.

package securetokens

import (
	context "context"
	payroc "github.com/payroc/payroc-sdk-go"
	core "github.com/payroc/payroc-sdk-go/core"
	internal "github.com/payroc/payroc-sdk-go/internal"
	option "github.com/payroc/payroc-sdk-go/option"
	tokenization "github.com/payroc/payroc-sdk-go/tokenization"
)

type Client struct {
	WithRawResponse *RawClient

	options *core.RequestOptions
	baseURL string
	caller  *internal.Caller
}

func NewClient(options *core.RequestOptions) *Client {
	return &Client{
		WithRawResponse: NewRawClient(options),
		options:         options,
		baseURL:         options.BaseURL,
		caller: internal.NewCaller(
			&internal.CallerParams{
				Client:      options.HTTPClient,
				MaxAttempts: options.MaxAttempts,
			},
		),
	}
}

// Use this method to return a [paginated](https://docs.payroc.com/api/pagination) list of secure tokens.
//
// **Note:** If you want to view the details of a specific secure token and you have its secureTokenId, use our [Retrieve Secure Token](https://docs.payroc.com/api/schema/tokenization/secure-tokens/retrieve) method.
//
// Use query parameters to filter the list of results that we return, for example, to search for secure tokens by customer or by the first four digits of a card number.
//
// Our gateway returns information about the following for each secure token in the list:
//
//   - Payment details that the secure token represents.
//
//   - Customer details, including shipping and billing addresses.
//
//   - Secure token that you can use to carry out transactions.
//
//     For each secure token, we also return the secureTokenId, which you can use to perform follow-on actions.
func (c *Client) List(
	ctx context.Context,
	request *tokenization.ListSecureTokensRequest,
	opts ...option.RequestOption,
) (*core.PayrocPager[*payroc.SecureTokenPaginatedListWithAccountType, []*payroc.SecureTokenWithAccountType, *payroc.Link], error) {
	options := core.NewRequestOptions(opts...)
	baseURL := internal.ResolveBaseURL(
		options.BaseURL,
		internal.ResolveEnvironmentBaseURL(
			options.Environment,
			"Api",
		),
		c.baseURL,
		internal.ResolveEnvironmentBaseURL(
			c.options.Environment,
			"Api",
		),
		"https://api.payroc.com/v1",
	)
	endpointURL := internal.EncodeURL(
		baseURL+"/processing-terminals/%v/secure-tokens",
		request.ProcessingTerminalId,
	)
	queryParams, err := internal.QueryValues(request)
	if err != nil {
		return nil, err
	}
	if len(queryParams) > 0 {
		endpointURL += "?" + queryParams.Encode()
	}
	response, callErr := c.WithRawResponse.List(
		ctx,
		request,
		opts...,
	)
	if callErr != nil {
		return nil, callErr
	}
	var responseBody *payroc.SecureTokenPaginatedListWithAccountType = response.Body
	fetcher := func(
		ctx context.Context,
		href string,
	) (*payroc.SecureTokenPaginatedListWithAccountType, error) {
		options := core.NewRequestOptions(opts...)
		headers := internal.MergeHeaders(
			c.options.ToHeader(),
			options.ToHeader(),
		)
		var pageResponse *payroc.SecureTokenPaginatedListWithAccountType
		_, err := c.caller.Call(ctx, &internal.CallParams{
			URL:             href,
			Method:          "GET",
			Headers:         headers,
			MaxAttempts:     options.MaxAttempts,
			BodyProperties:  options.BodyProperties,
			QueryParameters: options.QueryParameters,
			Client:          options.HTTPClient,
			Response:        &pageResponse,
			ErrorDecoder:    internal.NewErrorDecoder(tokenization.ErrorCodes),
		})
		if err != nil {
			return nil, err
		}
		return pageResponse, nil
	}
	pager := core.NewPayrocPager(responseBody, fetcher)
	return pager, nil
}

// Use this method to create a secure token that represents a customer's payment details.
//
// When you create a secure token, you need to generate and provide a secureTokenId that you use to run follow-on actions:
// - [Retrieve Secure Token](https://docs.payroc.com/api/schema/tokenization/secure-tokens/retrieve) – View the details of the secure token.
// - [Delete Secure Token](https://docs.payroc.com/api/schema/tokenization/secure-tokens/delete) – Delete the secure token.
// - [Update Secure Token](https://docs.payroc.com/api/schema/tokenization/secure-tokens/partially-update) – Update the details of the secure token.
// - [Update Account Details](https://docs.payroc.com/api/schema/tokenization/secure-tokens/update-account) – Update the secure token with the details from a single-use token.
//
// **Note:** If you don't generate a secureTokenId to identify the token, our gateway generates a unique identifier and returns it in the response.
//
// If the request is successful, our gateway returns a token that the merchant can use in transactions instead of the customer's sensitive payment details, for example, when they [run a sale](https://docs.payroc.com/api/schema/card-payments/payments/create).
func (c *Client) Create(
	ctx context.Context,
	request *tokenization.TokenizationRequest,
	opts ...option.RequestOption,
) (*payroc.SecureToken, error) {
	response, err := c.WithRawResponse.Create(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Use this method to retrieve information about a secure token.
//
// To retrieve a secure token, you need its secureTokenID, which you sent in the request of the [Create Secure Token](https://docs.payroc.com/api/schema/tokenization/secure-tokens/create) method.
//
// **Note:** If you don't have the secureTokenId, use our [List Secure Tokens](https://docs.payroc.com/api/schema/tokenization/secure-tokens/list) method to search for the secure token.
//
// Our gateway returns the following information about the secure token:
//
//   - Payment details that the secure token represents.
//   - Customer details, including shipping and billing addresses.
//   - Secure token that you can use to carry out transactions.
func (c *Client) Retrieve(
	ctx context.Context,
	request *tokenization.RetrieveSecureTokensRequest,
	opts ...option.RequestOption,
) (*payroc.SecureTokenWithAccountType, error) {
	response, err := c.WithRawResponse.Retrieve(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Use this method to delete a secure token and its related payment details from our vault.
//
// To delete a secure token, you need its secureTokenId, which you sent in the request of the [Create Secure Token](https://docs.payroc.com/api/schema/tokenization/secure-tokens/create) method.
//
// **Note:** If you don’t have the secureTokenId, use our [List Secure Tokens](https://docs.payroc.com/api/schema/tokenization/secure-tokens/list) method to search for the secure token.
//
// When you delete a secure token, you can’t recover it, and you can’t reuse its identifier for a new token.
func (c *Client) Delete(
	ctx context.Context,
	request *tokenization.DeleteSecureTokensRequest,
	opts ...option.RequestOption,
) error {
	_, err := c.WithRawResponse.Delete(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return err
	}
	return nil
}

// Use this method to partially update a secure token. Structure your request to follow the [RFC 6902](https://datatracker.ietf.org/doc/html/rfc6902) standard.
//
// To update a secure token, you need its secureTokenId, which you sent in the request of the [Create Secure Token](https://docs.payroc.com/api/schema/tokenization/secure-tokens/create) method.
//
// **Note:** If you don't have the secureTokenId, use our [List Secure Tokens](https://docs.payroc.com/api/schema/tokenization/secure-tokens/list) method to search  for the payment.
//
// You can update all of the properties of the secure token, except the following:
// - processingTerminalId
// - type
// - token
// - status
// - source/Card
//   - type
//   - cardNumber
//   - cardType
//   - currency
//   - debit
//   - surcharging
//
// - source/ACH account
//   - accountNumber
//   - routingNumber
//
// - source/PAD account
//   - type
//   - accountNumber
//   - transitNumber
func (c *Client) PartiallyUpdate(
	ctx context.Context,
	request *tokenization.PartiallyUpdateSecureTokensRequest,
	opts ...option.RequestOption,
) (*payroc.SecureToken, error) {
	response, err := c.WithRawResponse.PartiallyUpdate(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Use this method to update a secure token if you have a single-use token from Hosted Fields.
//
// **Note:** If you don't have a single-use token, you can update saved payment details with our [Update Secure Token](https://docs.payroc.com/api/resources#updateSecureToken) method. For more information about our two options to update a secure token, go to [Update saved payment details](https://docs.payroc.com/guides/take-payments/update-saved-payment-details).
func (c *Client) UpdateAccount(
	ctx context.Context,
	request *tokenization.UpdateAccountSecureTokensRequest,
	opts ...option.RequestOption,
) (*payroc.SecureToken, error) {
	response, err := c.WithRawResponse.UpdateAccount(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}
